<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome to Our App!</h1>
    <p>Please login or register to continue.</p>
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
</body>
</html>